extends layout

block content
	#container
		div(class="navbar")
			div(class="navbar-inner")
				a(class="brand", href="#")= title
				p(class="nav navbar-text")= "Unnamed"
				form(class="nav navbar-text form-inline")
					label(class="checkbox")
						input(id="checkpreviewmode",type="checkbox")
						span="Preview"
				button(id="refreshBtn", class="btn")= "Refresh"
				button(class="btn disabled")= "Load from Dropbox ..."
		div(class="container-fluid")
			div(class="row-fluid")
				#leftpane(class="span5")
					textarea(id="edit", class="edit")
				#rightpane(class="span7 renderparent")
					#slideNavButtons
						button(id="prevSlide", class="btn")= "Prev"
						button(id="nextSlide", class="btn")= "Next"
					div(class="renderbase editmode")
	!=js("Markdown.Converter.js")
	!=js('parser.js')
	!=js('sample.js')
	!=js('impress.js')
	!=js('edit.js')
